#cart_empty {
    width: 100%;
    height: 1200px;
    text-align: center;
    background: #f4f4f8;
    img {
        display: inline-block;
        width: 280px;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    span {
        display: block;
        color: #333;
        font-size: 32px;
        margin-bottom: 40px;
    }

    a {
        display: inline-block;
        color: #ff464e;
        border: 1px solid currentColor;
        text-align: center;
        line-height: 80px;
        width: 276px;
        font-size: 28px;
    }
}