// #Hbanner_box{
//     width: 100%;
//     height: 290px;
//     background: #ccc;
//     .wxchat-banner{
//         height: 290px;
//         img{
//             height: 290px;
//         }   
//     }
// }

#Hbanner_box{
    width: 100%;
    height: 290px;
    background: #ccc;
    .swiper-container{
        width: 100%;
        height: 290px;
        img{
            height: 290px;
        }   
    }
}