
#cart_head {
    width: 100%;
    height: 88px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;

    i {
        font-size: 40px;
        color: #4a4a4a;

        a {
            font-size: 40px;
            color: #4a4a4a;
        }
    }

    span {
        display: inline-block;
        width: 50%;
        font-size: 36px;
        color: #333;
    }

    em {
        color: #4a4a4a;
        font-size: 30px;
    }
}

#cart_empty {
    width: 100%;
    height: 1200px;
    text-align: center;
    background: #f4f4f8;

    img {
        display: inline-block;
        width: 280px;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    span {
        display: block;
        color: #333;
        font-size: 32px;
        margin-bottom: 40px;
    }

    a {
        display: inline-block;
        color: #ff464e;
        border: 1px solid currentColor;
        text-align: center;
        line-height: 80px;
        width: 276px;
        font-size: 28px;
    }
}

#cart_full {
    width: 100%;
    padding-bottom: 320px;
    background: #f4f4f8;
    .activity_head {
        width: 100%;
        height: 89px;
        padding: 0 25px;
        box-sizing: border-box;
        border-bottom: 1px solid #ebebeb;
        display: flex;
        align-items: center;
        background: #fff;
        .head_check {
            display: inline-block;
            width: 31px;
            height: 31px;
            border-radius: 50%;
            background: #ff464e;
            margin: 0 26px 0 15px;
            border: #ff464e 1px solid;
            img {
                width: 31px;
            }
        }

        .head_icon {
            width: 40px;
            height: 40px;
            margin-right: 22px;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .head_text {
            color: #666;
            font-size: 28px;
        }
    }

    .cart_list {
        width: 100%;
        padding: 0 25px;
        box-sizing: border-box;
        background: #fff;
        li {
            width: 100%;
            height: 320px;
            display: flex;

            .box_check {
                width: 62px;
                float: left;
                margin-top: 170px;

                span {
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    border-radius: 50%;
                    background: #ff464e;
                    border: #ff464e 1px solid;
                    img {
                        width: 31px;
                    }
                }
            }

            .box_cont {
                flex: 1;
                text-align: left;
                float: left;
                height: 320px;
                border-bottom: 1px solid #ddd;

                .box_count {
                    height: 72px;
                    line-height: 72px;
                    margin-bottom: 30px;

                    em {
                        border: 1px solid #ff464e;
                        color: #ff464e;
                        font-size: 20px;
                        padding: 0 5px;
                        margin: 0 14px 0 20px;
                    }

                    span {
                        color: #333;
                        font-size: 24px;
                    }

                    i {
                        color: #ff464e;
                        font-size: 24px;
                        float: right;
                    }
                }

                .box_goods {
                    display: flex;

                    .box_img {
                        width: 180px;
                        height: 180px;
                        float: left;

                        img {
                            width: 180px;
                            height: 180px;
                        }
                    }

                    .box_info {
                        flex: 1;
                        float: left;
                        margin-left: 20px;
                        position: relative;

                        h2 {
                            color: #333;
                            font-size: 28px;
                            margin-bottom: 14px;
                        }

                        h3 {
                            color: #bbb;
                            font-size: 28px;
                        }

                        .price {
                            position: absolute;
                            left: 0;
                            bottom: 0;

                            span {
                                color: #FF464E;
                                font-size: 24px;
                                margin-right: 20px;
                            }

                            del {
                                color: #999999;
                                font-size: 24px;
                            }
                        }

                        .box_num {
                            position: absolute;
                            right: 0;
                            bottom: 0;

                            em {
                                color: #666;
                                font-size: 30px;
                            }

                            .box_num_ch {
                                text-align: center;

                                .add {
                                    background-color: #f4f4f8;
                                    width: 46px;
                                    height: 46px;
                                    font-size: 28px;
                                }

                                .text {
                                    color: #333;
                                    width: 75px;
                                    height: 46px;
                                    font-size: 28px;
                                    display: inline-block;
                                }

                                .dis {
                                    color: #ff464e;
                                    background-color: #f4f4f8;
                                    width: 46px;
                                    height: 46px;
                                    font-size: 28px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .box_sum {
        width: 100%;
        height: 97px;
        display: flex;
        border-top: 1px solid #ebebeb;
        background: #fff;
        position: fixed;
        left: 0;
        bottom: 100px;

        .all_check {
            flex: 2;
            font-size: 32px;
            color: #333;
            line-height: 97px;
            display: flex;
            align-items: center;
            span {
                display: inline-block;
                width: 31px;
                height: 31px;
                border-radius: 50%;
                border: #ff464e 1px solid;
                // background: #ff464e;
                margin: 0 17px 0 32px;
                img {
                    width: 31px;
                    float: left;
                }
            }
        }

        .all_text {
            flex: 5;
            text-align: right;
            .sum_big{
                font-size: 28px;
                margin: 13px 13px 0 0;
                span{
                    color: #ff464e;
                }  
            }
            .sum_small{
                color: #999;
                font-size: 20px;
                margin: 3px 13px 0 0;
            }
        }
        .all_text_a{
            display: inline-block;
            flex: 2;
            background-color: #f6a623;
            font-size: 36px;
            color: #fff;
            line-height: 97px;
            text-align: center;
        }

        .all_btn {
            display: inline-block;
            flex: 3;
            background-color: #ff464e;
            font-size: 36px;
            color: #fff;
            line-height: 97px;
            text-align: center;
        }
        .all_btn_a{
            display: inline-block;
            flex: 2;
        }

    }
}